<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xiaojin20135.mybaseapp">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:label,android:name">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyLoginActivity" />
        <activity android:name=".bottom.MyBottomActivity" />
        <activity android:name=".recyclerview.MyRecyActivity" />
        <activity android:name=".loaddata.LoadDataActivity" />
        <activity android:name=".mpchart.MyChartActivity" />
        <activity android:name=".spinner.MySpinnerActivity" />
        <activity android:name=".datepicker.DatePickerActivity" />
        <activity android:name=".alert.ItemAlertActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".download.DownloadActivity" />
        <activity android:name=".update.CheckUpdateActivity" />
        <activity android:name=".tablayout.MyTabLayoutActivity" />
        <activity android:name=".devicelabel.DeviceLabelActivity" />
        <activity android:name=".approve.ApproveTestActivity" />
        <activity android:name=".image.PickImageActivity" />
        <activity android:name=".view.IpAndPortActivity" />
        <activity android:name=".webview.BaseWebViewActivity" />
        <activity android:name=".xgPush.Type1Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.topscomm.push"
                    android:path="/notify_detail_basepro"
                    android:scheme="xgscheme" />
            </intent-filter>
        </activity>
        <activity android:name=".xgPush.Type2Activity" />
        <activity android:name=".xgPush.XgPushActivity" />
        <activity android:name=".datepicker.wheel.WeelPickerActivity" />
        <activity android:name=".security.SecurityActivity"></activity>
    </application>

</manifest>